
/* @import url('https://fonts.googleapis.com/css?family=Noto+Sans+Brahmi&display=swap'); */

/*
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  width: 100vw;
  overflow-x: hidden;
}*/

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

h1 {
  font-size: 2em;
  text-align: center;
  margin-top: 30px;
}

textarea {
  /* width: 70vw; */
  height: 50px;
  padding:20px 20px 20px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* margin: 10px 10px 10px 20px; */

  margin: 2vw 23vw;
  width: 50vw;

}

label {
  display: block;
  margin: 10px 0;
  font-size: 1.2em;
  font-weight: bold;
}

select {
  width: 30%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 0 10px;
}

.optionsdiv{
  margin: 0 28vw;
  width: 150vw;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 35vw;
  width: 30vw;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #888888;
}

.fontLabel {
  background-color: #b5f0b7;
  border: none;
  color: rgb(0, 0, 0);
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 10px 21.5vw;
  width: 150px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #888888;
}
  
#outputDiv1 {
  width: 55%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px auto;
  background-color: #fff;
  min-height: 50px;
  font-family: 'Noto Sans Brahmi', sans-serif;
  word-wrap: break-word;
}

#outputDiv2 {
  width: 55%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px auto;
  background-color: #fff;
  min-height: 50px;
  font-family: 'Segoe UI Historic Regular', sans-serif;
  word-wrap: break-word;
}

